*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
.nav {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 20px;
    color: white;
    font-weight: bolder;
}
.navbar {
    flex: 1; 
}
.menu {
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    font-size: 20px;
}
.menu ul {
    list-style: none;
}
.menu ul li {
    display: inline-block; /* Display list items inline */
    margin-left: 15px; /* Add spacing between list items */
    cursor: pointer;
}
.menu ul li:first-child {
    margin-left: 0; /* No margin for the first list item */
}
.heading{
	font-size: 40px;
	color: white;
	margin-left: 35px;
	font-family: "Poetsen One", sans-serif;
	letter-spacing: 2px;
}
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}


.main{
	height: 600px;
	width: 100%;
/*	border: solid black;*/
	background-image: linear-gradient(to right, violet, royalblue);
}
.boost{
	margin-top: 40px;
	padding-left: 10px;
	display: flex;
}
.Personal{
	padding: 80px;
}
.info{
	font-weight: bolder;
	color: white;
	font-size: 35px;
	text-align: center;
}
.btn1{
	height: 50px;
	width: 125px;
	background-color: royalblue;
	color: white;
	border-radius: 25px;
	border: solid royalblue;
	font-size: 15px;
}
.btn1:hover{
	background-color: white;
	color: royalblue;
	cursor: pointer;
}
.btn2{
	height: 50px;
	width: 125px;
	background-color: darkviolet;
	color: white;
	border-radius: 25px;
	border: solid darkviolet;
	font-size: 17px;
}
.btn2:hover{
	background-color: white;
	color: violet;
	cursor: pointer;
}
.fa{
	color: white;
	margin-left: 30px;
}
.table{
	margin-top: 20px;
	height: 500px;
	width: 100%;
	background-color: white;	
	padding: 30px;
	border-collapse: separate;
}
.tbl{
	width: 90%;
	border-collapse: separate;
    border-spacing: 20px;
}
.tbl td {
    padding: 20px;
    border: 3px solid #5536a3;
    text-align: center;
    border-radius: 20px;
}
table tr td{
	border: solid black;
	padding: 15px;
	background-color: #FAF9F6;
	box-shadow: 0px 0px 5px royalblue;
    transition-duration: 1.5s;
}
table tr td:hover{
	transform: scale(1.05);
	border: 1px solid grey;
	box-shadow: 10px 15px 10px grey;
}
table tr td p{
	text-align: justify;
}
.services{
	text-align: justify;
}
.heading1{
	font-weight: bolder;
	font-size: 25px;
	font-family: "Poetsen One", sans-serif;
	letter-spacing: 2px;
}
